footer {
    background-color: $background-color-footer;
    @include body-central-vertical;
    padding-top: 66px;
    padding-bottom: 58px;
    &__img {
        width: 122px;
    }
    p {
        color: $color-white;
        font-size: $font-mobil-nav-footer;
        max-width: 95px;
    }
    @media screen and (min-width: 800px) { 
        padding-bottom: 29px;
        p {
            font-size: $font-desktop-nav-footer;
            max-width: none;
        }
    }
}