.header {
    margin-top: 20px;
    @include margin-left-right-mobile();
    @include display-header();
         img {
            height: 46px;
        }
        @media screen and (min-width: 800px) {
            margin-top: 45px;
            @include margin-left-right-desktop;
            &__img {
                height: 68px;
            }
        }
 }