.header {
    margin-top: 20px;
    @include margin-left-right-mobile();
    @include display-header();
         .logo-header {
            height: 35px;
            width: 100px;
        }
        nav {
            .active {
                    text-decoration: $color-principal underline;
                }
            }
        @media screen and (min-width: 800px) {
            margin-top: 45px;
            @include margin-left-right-desktop;
            .logo-header {
                height: 68px;
                width: 210px;
            }
        }
 }