.about-collapse-title {
    background-color: $color-principal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    border-radius: 5px;
   color: white;
  
  } .text-collapse-about {
    color: $color-principal;
   }

   