.slide-general {
    position: relative;
  
    .slide-image {
      width: 100%;
      height: 255px;
      border-radius: 10px;
      background: cover;
      margin-top: 27px;
      @media screen and (min-width: 800px) {
        height: 415px;
        border-radius: 25px;
        margin-top: 50px;
      }
    }
  
    .arrow-left,
    .arrow-right {
      position: absolute;
      top: 45%;
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
  
    .arrow-left {
      left: 20px;
    }
  
    .arrow-right {
      right: 20px;
    }
  
    .slide-counter {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      color: $color-white;
      font-size: 16px;
      visibility: hidden;
        }

    @media screen and (min-width: 800px) {

      .arrow-left,
    .arrow-right {
      width: 96px;
      height: 119px;
    }
      .slide-counter {
        visibility: visible;
      }
      .slide-counter {
        margin-bottom: 25px;
        font-size: 18px;
          }
    }
  }