.body-housing {
  color: $color-principal;
  @include margin-left-right-mobile;

  .img-body-housing {
    border-radius: $border-radius-mobile;
  }

  .general-housing {
    margin-top: 15px;
 
    .description-general {
      .title-housing {
        font-size: $font-title-secondary;
      }

      .second-title-housing {
        font-size: $font-text;
      }
    }

    .tag-box {
      display: flex;

      .tag {
        background-color: $color-principal;
        color: $color-white;
        border-radius: $border-radius-mobile;
        width: 84px;
        height: 18px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
    }

    .identification-host {
      display: flex;
      justify-content: space-between;
      .rating-stars {
        .stars {
          width: 18px;
        height: 18px;
        }
        
      }
      .host-name-picture {
        display: flex;
        .name-host {
          font-size: 12px;
          width: 93px;
        }
        .picture-host {
          border-radius: 100px;
          width: 32px;
          height: 32px;
        }
      }
    }

    .collapse-housing {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      .test {
        height: 40px;
      }
    }
  }

  @media screen and (min-width: 800px) {
    @include margin-left-right-desktop;
    .img-body-housing {
      border-radius: $border-radius-desktop;
    }

    .general-housing {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      .description-general {
        .title-housing {
          font-size: $font-title-principal;
        }

        .second-title-housing {
          font-size: $font-title-secondary;
        }

        .tag {
          width: 115px;
          height: 25px;
          font-size: 14px;
        }
      }

      .identification-host {
        display: flex;
        flex-direction: column-reverse;
        .rating-stars {
          .stars {
            width: 36px;
          height: 36px;
          }
          
        }
        .host-name-picture {
          .name-host {
            font-size: 18px;
          }
          .picture-host {
            width: 64px;
            height: 64px;
          }
        }
      }
    }

    .collapse-housing {
      display: flex;
      justify-content: space-around;
      gap: 76px;
      .test {
        height: 40px;
      }
    }
  }
}