/**********          VARIABLE          **********/

/* Color */

$color-principal : #FF6060;

$color-white : white;

/* Background color */

$background-color-footer : black ;

/* Font-size */

$font-mobil-nav-footer : 12px;

$font-desktop-nav-footer : 24px;

$font-title-principal : 36px;

$font-title-secondary : 18px;

$font-text : 14px;

/* Font-weight */

$weight-general : 500;

/* Margin & Padding */

$margin-error-mobil : 113px;

$margin-error-desktop : 139px;

/* Banner */

$border-radius-desktop : 25px;


/**********          MIXIN          **********/

/* Display */

@mixin display-header {
    display: flex;
    justify-content: space-between;
}

@mixin display-nav {
    display: flex;
    justify-content: space-around;
}

@mixin body-central-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Margin & Padding */

@mixin margin-left-right-desktop {
    margin-left: 100px;
    margin-right: 100px;
}

@mixin margin-left-right-mobile {
    margin-left: 20px;
    margin-right: 20px;
}

/* Banner */

@mixin banner-mobile {
    width: 100%;
    border-radius: 10px;
    opacity: 70%;
    object-fit: cover;
}